<h1>Olá</h1>

<% if user_signed_in? %>
    <h1>Logado no sistema</h1>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm" %>
<% else %>
<h2>Não esta logado no sistema. <%= link_to "Sign up", new_user_registration_path %></h2>
<%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
<% end %>
