<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Livraria Conceito</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="<%= root_path%>">Home</a></li>

                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link btn btn-default btn-sm" %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Sign up", new_user_registration_path, method: :delete, class: "nav-link"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Login", new_user_session_path, method: :delete, class: "nav-link" %>
                    </li>
                <% end %>

                
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>